<?xml version="1.0"?>

<connectionStrings>
  <add name="SimpleSQL" providerName="System.Data.SqlClient"
		connectionString="Data Source=(local);Initial Catalog=Simple;Trusted_Connection=true;MultipleActiveResultSets=True;" />

  <add name="AuthContext" connectionString="Data Source=(local);Initial Catalog=Simple;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>