USE [master]
GO
/****** Object:  Database [Simple]    Script Date: 19/02/2016 12:36:52 ******/
CREATE DATABASE [Simple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Simple', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Simple.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Simple_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Simple_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Simple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Simple]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 19/02/2016 12:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Company_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 21/05/2016 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeReference] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Company] ON 

GO
INSERT [dbo].[Company] ([Id], [Code], [Name], [EmailAddress]) VALUES (1, N'ABC', N'Test Company', N'test@thecompany.com')
GO
INSERT [dbo].[Company] ([Id], [Code], [Name], [EmailAddress]) VALUES (2, N'DEF', N'The Building Company', N'bob@thebuilders.co.uk')
GO
SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

GO
INSERT [dbo].[People] ([Id], [EmployeeReference], [Name], [IsActive]) VALUES (1, N'T001', N'Chris', 1)
GO
INSERT [dbo].[People] ([Id], [EmployeeReference], [Name], [IsActive]) VALUES (2, N'T002', N'Bob Martin', 1)
GO
INSERT [dbo].[People] ([Id], [EmployeeReference], [Name], [IsActive]) VALUES (3, N'T003', N'Martin Fowler', 1)
GO
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Company_Code]    Script Date: 21/05/2016 22:18:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Company_Code] ON [dbo].[Company]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
